@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}

.wraper {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.wraper .header {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content {
    width: 1366px;
    margin: auto;
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 78px;
}

.header .header-navigate-items {
    display: flex;
    align-items: center;
}

.header .header-right-title, .header-left-title {
    text-decoration: none;
    color: #fff;
}

.header-right-title .right-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.header-left-title .left-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.header .right-title-item:hover,
.header-left-title .colored:hover {
    color: #01813F;
    transition: 0.5s;
}

.header-navigate-items .navigate-calendar, 
.navigate-email, .navigate-bra, .header-line {
    padding-right: 26px;
}

.header-navigate-items .header-line {
    fill: #fff;
}

.header-navigate-items .navigate-calendar, 
.navigate-email, .navigate-bra {
    cursor: pointer;
    fill: #fff;
}

.header-navigate-items .navigate-calendar:hover, 
.header-navigate-items .navigate-email:hover,
.header-navigate-items .navigate-bra:hover {
    fill: #01813F;
    transition: 0.5s;
}

.form {
    width: 444px;
    height: 584px;
    /* margin-top: 54px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.wraper .main-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.form .form-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 60px 14px;
}

.form .form-sing {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form .form-sing::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    top: 1px;
    left: -60px;
}

.form .form-title .form-colored {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    cursor: pointer;
}

.form .form-title .form-colored:hover {
    text-decoration: underline;
    color: #01813F;
    transition: 0.5s;
}

.form .form-buttons-log {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form .g-form-button {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border: none;
    border-radius: 3px;
    width: 160px;
    height: 48px;
    cursor: pointer;
}

.form .form-buttons-log .button-log-facebook {
    background: #305DB8;
    margin-right: 6px;
}

.form .form-buttons-log .button-log-facebook:hover {
    background: #022263;
    transition: 0.5s;
}

.form .form-buttons-log .button-log-google {
    background: #DF4A32;
}

.form .form-buttons-log .button-log-google:hover {
    background: #AB1F09;
    transition: 0.5s;
}

.form-buttons-log .img-item-facebook {
    padding: 12px 18px 12px 16px;
    fill: #fff;
}

.form-buttons-log .img-item-google {
    padding: 14px 8px 12px;
}

.form-buttons-log .button-title-google {
    padding-left: 30px;
}

.form-buttons-log .button-title-facebook {
    padding-left: 18px;
}

.form .form-line {
    display: flex;
    justify-content: center;
    position: relative;
}

.form .form-line-or {
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 12px;
    color: #848484;
}

.form-line .form-line-item1 {
    width: 152px;
    height: 1px;
    border: none;
    background: #F2F2F2;
    position: absolute;
    left: 60px;
    top: 30px;
}

.form-line .form-line-item2 {
    width: 152px;
    height: 1px;
    border: none;
    background: #F2F2F2;
    position: absolute;
    left: 232px;
    top: 30px;
}

.form .form-group-input {
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
}

.form .input-item:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form .input-item {
    width: 304px;
    height: 44px;
    border: 1px solid #F2F2F2;    
    border-radius: 4px;
    font-size: 14px;
    padding-left: 20px;
    outline: none;
}

::placeholder {
    color: #BEBEBE;
}

.form .form-checkbox {
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    margin-left: 60px;
    margin-bottom: 20px;
}

.form .form-checkbox .form-colored {
    color: #3CB878;
}

.form-checkbox .checkbox-input {
    -webkit-appearance: none;
    appearance: none;
}

.form-checkbox .checkbox-label {
    padding-left: 28px;
    font-size: 14px;
    cursor: pointer;
}

.form-checkbox .form-colored:hover {
    text-decoration: underline;
    color: #01813F;
    transition: 0.5s;
}

.form-checkbox .checkbox-label::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;
}

.form-checkbox .checkbox-label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    opacity: 0;
    position: absolute;
    left: 3px;
    top: 0;
    z-index: 2;
}

.form-checkbox .checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}

.form .form-button-create {
    display: flex;
    justify-content: center;
}

.form .button-create {
    border: 1px solid #3CB878CC;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 324px;
    height: 46px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.form .button-create:hover {
    background: #01813F;
    transition: 0.5s;
}