@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.wraper {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wraper .header-wrap,
.content, .footer {
    width: 1028px;
    margin: auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    text-decoration: none;
}
.header-wrap .header-logo {
    display: flex;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.header-wrap .header-span {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.header-wrap .logo {
    width: 53px;
    height: 47px;
    margin-right: 8px;
    background-image: url(../img/logo1.png);
}

.header-wrap .header-logo .text-logo {
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 22px;
    color: #fff;
    margin-top: 3px;
}

.header-logo:hover .text-logo {
    color: #F26522;
}

.header-logo:hover .logo {
    background-image: url(../img/logo2.png);
}

.header-wrap .contact-email {
    margin-bottom: 18px;
}

.header-wrap .contact-email,
.contact-phone {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    text-decoration: none;
}

.header-wrap .contact-email:hover,
.header-wrap .contact-phone:hover {
    color: #F26522;
}

.wraper .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 78px 60px;
}

.content .content-item {
    display: flex;
    margin: auto;
    width: 300px;
    height: 220px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.content .content-hover {
    overflow: hidden;
    position: relative;
}

.content-text-title .content-text {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 208px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.content-image {
    width: 300px;
    height: 220px; 
    margin: auto;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-image: linear-gradient(#fff, #000) 3;
}

.content .content-price {
    display: flex;
    justify-content: space-between;
    background: #F26522;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    transition: 0.6s ease-in-out;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

.content .content-item:hover .content-price {
    top: 167px;
}

.content .content-item:hover .content-text {
    color: #F26522;
}

.content .content-link {
    text-decoration: none;
}

.content-link .left {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.content-link .left .from {
    font-size: 10px;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;
} 

.content-link .left .price {
    font-size: 20px;
    padding-bottom: 12px;
    padding-left: 16px;
}
.content-link .right {
    font-size: 14px;
    padding-top: 29px;
    padding-right: 16px;
}

.content-link .right::after {
    content: url(../img/vector.svg);
    padding-left: 16px;
}

.footer {
    text-align: center;
    margin-top: 90px;
    padding-bottom: 14px;
}

.footer .copyritght {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}