@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wraper {
    width: 1280px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;  
}

.text-logo .logo {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    margin-top: 64px;
    margin-left: 98px;
    margin-bottom: 38px; 
}

.text-logo .colored {
    color: #4BC3F2;
}

.header-menu-row {
    background: #35444F;
}

.header-menu-row .menu-list-row {
    width: 100%;
    height: 72px;
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.header .menu-items-row .menu-item-row:hover {
    background: #222F3A;
}

.menu-list-row .menu-item-row {
    display: flex;
    align-items: center;
    border-right: 1px solid #FFFFFF;
    padding-left: 32px;
    padding-right: 32px;
    /* padding-top: 26px;
    padding-bottom: 19px; */
}

.menu-list-row .menu-item-row:first-child {
    border-left: 1px solid #FFFFFF;
}

.menu-list-row .menu-link-row {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;  
}

.content-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 48px;
}

.content-box .left-menu {
    flex-shrink: 0;
    border: 1px solid #000000;
    margin-right: 52px;
    width: 344px;
    cursor: pointer;
}

.content-box .menu-items {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}

.content-box .menu-items .menu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.content-box .menu-items .menu-item {
    padding: 30px 0 30px 44px;
}

.content-box .menu-items .menu-item:hover {
    background: #DBDBDB;
    padding-left: 50px;
}

.content-box .menu-items .menu-link:hover {
    color: #35444F;
}

.content-box .imag {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    cursor: pointer;
    transition: 0.4s;
}

.content-box .imag .image:hover {
    transform: scale(1.3);
}

.content .content-text  {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}

.wraper .footer {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 30px;
}

.footer-list .footer-items {
    display: flex;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 22px;
}

.footer-items .footer-item .footer-link {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding-left: 40px;
}

.footer-list .footer-link:hover{
    color: #3181A6;
    text-decoration: underline;
    border: 1px; 
}

.footer .copy {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}