body {
    margin: 0;
}
.header-menu {
    /* width: 1170px; */
    margin: 0 auto;
    text-align: center; 
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    
    line-height: 18px;
    letter-spacing: 2.7px;
    font-family: 'Montserrat';        
}
.header-menu .menu {
    display: inline;
    vertical-align: middle;
    }
.menu-list {
    display: inline;  
    font-weight: 700;
      
    }
.menu-item {
    display: inline;
    color: #FF0000;
    
}
.menu-link {
    text-decoration: none;
    color: #FF0000;
    margin: 72px;
    margin-top: 25px;
    font-family: 'Montserrat';       
}
/* .header-menu .menu-list,
.menu-item .menu-link {
    } */

.imag {
    width: 100%;
}
.text-represent {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
}
.text-lorem {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 28px;
    margin-left: 68px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.text-vestibulm {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 66px;
    margin-right: 66px;
    margin-left: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.buttom-get {
    width: 1280px;
    height: 51px;
    text-align: center;
    margin-left: 544px;
    margin-right: 544px;    
    size: 12px;
    background-color: #FF0000;
    border-radius: 4px;
    padding: 10px;
    color: #FFFFFF;
    /* letter-spacing: 1.8px;  */
}
.text-copyright {
    size: 16px;    
    margin-top: 82px;
    margin-bottom: 29px;
    margin-left: 713px;
    margin-right: 105px;
    line-height: 26px;
    letter-spacing: 2.4px;
}