@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header,
.content-infrastructure .content-header,
.content-infrastructure .infrastructure-items,
.content-machinery .machinery-items,
.content-machinery .content-header {
    margin: auto;
    width: 1460px;
}

.header-infrastructure-bg {
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.header .image-logo {
    width: 216px;
    height: 33px;
}
.header .header-link {
    padding-right: 38px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    color: #fff;
}
.header .link-colored {
    color: #D6AF76;
}
.header .header-button {
    border: 1px solid #E4B564;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 24px 10px 26px;
}

.header .button-text {
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
}

.content-infrastructure{
   padding-bottom: 50px; 
}

.infrastructure-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #fff;
    padding-top: 128px;
    padding-bottom: 40px;
}

.infrastructure-text{
    width: 1182px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    padding-bottom: 40px;
}

.infrastructure-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 26px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
}

.content-infrastructure .infrastructure-item1,
.infrastructure-item2, .infrastructure-item3 {
    grid-column: span 2;
    min-height: 468px;
    display: flex;
    justify-content: center;
	align-items: center;
    text-align: center;
}

.content-infrastructure .infrastructure-item4,
.infrastructure-item5 {
    grid-column: span 3;
    min-height: 468px;
    display: flex;
    justify-content: center;
	align-items: center;
}

.content-infrastructure .infrastructure-item {
    transition: 0.1s;
}

.content-infrastructure .infrastructure-item:hover {
    transform: scale(1.01);
}

.content-infrastructure .infrastructure-items .infrastructure-item1 {
    background: #634F2C;
}

.content-infrastructure .infrastructure-items .infrastructure-item2 {
    background: #B4A385;
    padding: 0 44px;
}

.content-infrastructure .infrastructure-items .infrastructure-item3 {
    background: #E4B564;
}

.content-infrastructure .infrastructure-items .infrastructure-item4 {
    background: #635A4A;
}

.content-infrastructure .infrastructure-items .infrastructure-item5 {
    background: #B08C4D;
}

.content-machinery {
    width: 100%;
    background-color: #171717;
}

.content-machinery .machinery-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 160px;
    padding-bottom: 94px;
    margin: 0;
}

.content-machinery .machinery-span {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.content-machinery .machinery-items {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
    padding-bottom: 190px;
}

.content-machinery .machinery-item {
    transition: 0.1s;
    box-sizing: border-box;
}

.content-machinery .machinery-item:hover {
    transform: scale(1.01);
}

.content-machinery .section-columns1,
.section-columns2, .section-columns3 {
    min-width: 466px;
}

.content-machinery .machinery-items .machinery-item1 { /*Илососная  машина*/
    min-height: 313px;
    padding-top: 44px;
    padding-left: 52px;
    background: #0E0E0E;
}

.content-machinery .machinery-items .machinery-item2 { /*Каналопромывочная машина*/
    min-height: 439px;
    padding-top: 44px;
    padding-left: 50px;
    background: #242424;
}
.content-machinery .machinery-items .machinery-item3 { /*Экскаватор-погрузчик*/
    min-height: 255px;
    padding-top: 44px;
    padding-left: 48px;
    background: #1F1F1F;
}

.content-machinery .machinery-items .machinery-item4 { /*Погрузчик*/
    min-height: 560px;
    padding-top: 56px;
    padding-left: 52px;
    background: #1F1F1F;
}
.content-machinery .machinery-items .machinery-item5 { /*Экскаватор*/
    min-height: 405px;
    padding-top: 46px;
    padding-left: 52px;
    font-weight: bold;
    color: #000;
    background: #E4B564;
}

.content-machinery .machinery-items .machinery-item6 { /*КАМАЗ бортовой с КМУ*/
    min-height: 313px;
    padding-top: 44px;
    padding-left: 48px;
    background: #0E0E0E;
}
.content-machinery .machinery-items .machinery-item7 { /*Каток*/
    min-height: 277px;
    font-weight: 700;
    padding-top: 44px;
    padding-left: 48px;
    background: #0A0909;
}
.content-customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-attachment: fixed;
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 190px;
}

.content-customers .customers-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 1480px;
    margin: auto;
    padding-bottom: 72px;
}

.content-customers .customers-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.content-customers .customers-button {
    width: 180px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 50px 0;
    color: #E4B564;
    background: none;
    border: 1px solid #E4B564;
    cursor: pointer;
}

.customers-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    cursor: pointer;
    width: 1480px;
    margin: auto;
}
.customers-item {
    grid-column: span 2;
    min-height: 486px;
    display: flex;
    justify-content: center;
	align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.customers-item:hover {
    border: 1px solid #fff;
}
.content-customers .customers-items .customers-item1 {
    background: #634F2C;
}

.content-customers .customers-items .customers-item2 {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    background: rgba(232, 210, 171, 0.76);
    background-image: none;
}

.content-customers .customers-span {
    font-weight: 400;
}

.content-customers .customers-items .customers-item3 {
    background: #E4B564;
}

.content-customers .customers-items .customers-item4 {
    background: #635A4A;
}

.content-customers .customers-items .customers-item5 {
    background: #B08C4D;
}

.content-customers .customers-items .customers-item6 {
    background: #634F2C;
}

.footer .footer-colored{
    background: #171717;
    min-height: 238px;
}